{% extends "body.html" %}
{% block content %}
<h1 >Guess The Color</h1>

<div class="background" style="background-color: rgb({{int(r)+30}}, {{int(g)+30}}, {{int(b)+30}});">
    <form action="/answer" method="post">
        <div>

            <input type="number" name=r placeholder="R" class="input" required></input>
            <input type="number" name=g placeholder="G" class="input" required></input>
            <input type="number" name=b placeholder="B" class="input" required></input>
            
        
            <input style="display: none;" name="r_answer" value="{{r}}">
            <input style="display: none;" name="g_answer" value="{{g}}">
            <input style="display: none;" name="b_answer" value="{{b}}">
        
        
            <br><button type="submit" class="button">SUBMIT</button>
        </div>
    </form>
</div>

{% endblock %}